* {
  margin: 0;
  padding: 0;
}
:root {
}
.entry-windows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.entry {
  border-radius: 10px;
  border: 3px solid black;
  display: inline-block;
  padding: 5vh 5vh 5vh 5vh;
  /* box-shadow: black 0 black 0; */
}
.entry p {
  text-align: center;
}
