:root {
  --shadow-color: rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}
/* body */

body {
  width: 100%;
  height: 100vh;
  font-family: "Lunasima", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: default;
  user-select: none;
}
/* header */
header {
  color: rgb(78, 78, 78);
  text-align: center;
  margin: 2vh 0 2vh 0;
  font-size: 70px;
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo {
  font-family: "Rubik Moonrocks", sans-serif;
  color: rgb(78, 78, 78);
}
.log-out {
  background-color: #fa4032;
  color: whitesmoke;
}
.log-out:hover {
  background-color: #c51508;
  color: whitesmoke;
}
.sub-header {
  color: black;
  text-align: center;
  margin: 2vh 0 2vh 0;
  font-size: 40px;
}
.sub-header:hover {
  /* color: var(--shadow-color); */
  text-shadow: 4px 4px 5px var(--shadow-color);
}

.left,
.right {
  max-width: 400px;
  max-height: 500px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--shadow-color);
  padding: 20px;
  text-align: center;
  color: #333;
  width: 100%;
  position: sticky;
  bottom: 0; /* הדבק את הפוטר לתחתית */
  z-index: 10;
  font-size: large;
}
.footer p {
  margin: 0;
  margin-bottom: 10px;
}
.footer p:last-child {
  margin-bottom: 0;
}
.footer p:hover {
  color: white;
}
.footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer li {
  display: inline-block;
}
.footer a {
  color: #333;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
/*.subject {
   text-decoration: none !important;
  color: black; 
}*/
/* entry windows */
.entry-windows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home h2 {
  margin-top: 2vh;
}

.entry {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  /* padding: 5vh 5vh 5vh 5vh; */
  padding: 2%;
  margin-top: 5vh;
  width: 30%;
  /* height: 75vh; */
  overflow: hidden;
  /* background-color: rgb(128, 128, 128, 0.3); */
  background: linear-gradient(135deg, #f2f2f2, #e0e0e0);
}

.waiters :hover,
.employers :hover {
  text-shadow: 5px 5px 5px var(--shadow-color);
}

.entry p,
.entry h1 {
  text-align: center;
  text-shadow: 2px 2px 5px var(--shadow-color);
}
.entry h1 {
  margin-bottom: 2vh;
}
.entry p {
  margin-top: 2vh;
}
.entry img {
  width: 95%;
  margin: 0;
}
/* about */
.about-us {
  text-align: center;
  margin: 2vh 0 2vh 0;
  font-size: 25px;
  /* font-family: "Rubik Moonrocks", sans-serif; */
  font-weight: 400;
  font-style: normal;
}
.about-us :hover {
  text-shadow: 2px 2px 5px var(--shadow-color);
}

.created {
  color: gold;
  padding-top: 5px;
}
/*subject*/
.events-title {
  text-align: center;
  margin: 2vh 0 2vh 0;
  font-size: 25px;
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.very-small {
  font-size: small;
}

.very-small-span {
  background-color: #007bff;
  color: #fff;
  padding: 3px;
}

/* Styles for screens larger than 768px (e.g., tablets) */
@media (max-width: 600px) {
  .body {
    width: 80%;
    margin: 0 auto;
    padding: 40px;
  }
  .sub-header {
    font-size: 1.5em;
  }
  .about-us {
    font-size: 1em;
  }
  .header {
    font-size: 1.5em;
  }
  .footer {
    font-size: 1em;
  }
  .subject {
    font-size: 1em;
  }
}

@media (min-width: 1024px) {
  .body {
    width: 60%;
    padding: 60px;
  }
}
