* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --shadow-color: rgba(0, 0, 0, 0.3);
}

.waiters-register-p {
   border:  3px solid rgba(0, 0, 0, 0.3);
  padding: 3px;
}
/**------------- testing zone------------------*/

/* .logo-website {
  height: 100%;
  padding: 2%;
  color: #ffc94a;
} */

/* .logo-website {
  background: radial-gradient(circle, lemonchiffon, black 25%, skyblue);
} */

/* .logo-website:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: radial-gradient(circle, transparent, black 25%, transparent);
  animation: color 1.5s infinite ease-out alternate;
  opacity: 0;
} */

/* @keyframes color {
  0% {
    background: radial-gradient(circle, transparent, black 25%, transparent);
  }
  100% {
    opacity: 1;
  }
} */
