* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --shadow-color: rgba(0, 0, 0, 0.3);
}
.entry-windows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.home h2 {
  margin-top: 2vh;
}

.entry {
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  /* padding: 5vh 5vh 5vh 5vh; */
  padding: 2%;
  margin-top: 5vh;
  width: 30%;
  height: 75vh;
  overflow: hidden;
}
.entry p,
.entry h1 {
  text-align: center;
  text-shadow: 2px 2px 5px var(--shadow-color);
}
.entry h1 {
  margin-bottom: 2vh;
}
.entry p {
  margin-top: 2vh;
}
.entry img {
  width: 95%;
  margin: 0;
}
