/* .login {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
h1 {
  text-align: center;
}
.login-element {
} */
.auth-container {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input {
  padding: 0.75rem;
  font-size: 1rem;
  /* border: 1px solid #ddd; */
  /* border-radius: 4px; */
}

.auth-container .show-password-btn,
.auth-container .login-btn,
.auth-container .register-btn {
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-container .show-password-btn {
  background-color: #777;
}

.auth-container .login-btn {
  background-color: #4caf50;
}

.auth-container .register-btn {
  background-color: #007bff;
}

.auth-container .show-password-btn:hover,
.auth-container .login-btn:hover,
.auth-container .register-btn:hover {
  opacity: 0.9;
}
.password-class {
  position: relative;
  padding: 0;
}
.eyeClick {
  position: absolute;
  left: 5%;
  top: 30%;
  /* z-index: 1000; */
}
.password-class input {
  width: 94%;
  /* align-items: center; */
}
input {
  border: 0 solid white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  background-color: #f9f9f9;
  margin-top: 2vh;
}
input:focus {
  outline: none;
}
button {
  margin-top: 5vh;
  /* width: 50%; */
  /* align-items: center; */
}
